/*限制container大小*/
			.container_size {
			width: 64.3em;
			}

			/*按鈕放大*/
			.bigger {
				font-size: 1.5em;
			}
			/*按鈕控制*/
			.btn_padding{
				padding: 0.5em;
			}
			/*下拉式選單按鈕的容器*/
			.btn-group {
				margin-left: 5px;
			}
			/*下拉式按鈕跳出的清單*/
			.dropdown-item {
				font-weight: bolder;
				font-family:Microsoft JhengHei;
				font-size: 20px;
				align-content: center;
			}
			

			/*共有幾位房仲*/
			.totatl_estate {
				margin-bottom: 1em;
				padding: 0;
			}
			/*房仲資訊*/
			.info_estate {
				font-size: large;
				font-weight: bold;
				font-family:Microsoft JhengHei;
				margin-top: 5%;
				line-height:2.5em;
			}
			/*房仲顯示外框*/
			.div_sm_12 {
				margin-left: 0;
				border: 1px solid #000000;
				height: 100%;
				box-shadow: 2px 2px 2px #9D9D9D;
				background-color: #e6ffff;
			}
			/*房仲簡介*/
			.intro_estate {
				font-weight: bold;
				font-family:Microsoft JhengHei;
			}
			/*房仲簡介內文*/
			.intro_content {
				font-family:Microsoft JhengHei;
			}
			
			/*加入最愛*/
			.heart_main {
			    color: #9D9D9D;
			}
			.heart_main:focus,
			.heart_main:hover {
			    color: #9D9D9D;
			}
			.heart_size {
				margin-top: 1em;
				font-size: large;
				font-family:Microsoft JhengHei;
			}
			.heart_main.active {
			    color: red;
				font-size: x-large;
			}
			/*加入最愛結束*/

			/*前往房仲*/
			.forward_estate{
				padding: 0;
			}
			.button {
				display: inline-block;
			  	border-radius: 4px;
			  	background-color: #f4511e;
			  	border: none;
			  	color: #FFFFFF;
			  	text-align: center;
			  	padding: 1em;
			  	transition: all 0.5s;
			  	cursor: pointer;
			  	margin: 5px;
			}
			.button span {
			  	cursor: pointer;
			  	display: inline-block;
			  	position: relative;
			  	transition: 0.5s;
			}
			.button span:after {
			  	content: ' \226B';
			  	position: absolute;
			  	opacity: 0;
			  	top: 0;
			  	right: -25px;
			  	transition: 0.5s;
			}
			.button:hover span {
			  	padding-right: 25px;
			}
			.button:hover span:after {
			  	opacity: 1;
			  	right: 0;
			}
			/*前往房仲結束*/

			footer {
		   		margin-top: 5em;
		   		font-weight: 700;
		        background-color: white;
		        position:absolute;
		   		width:100%;
		   		padding: 25px;
    		}