			/*麵包屑*/
			.bread_pos li+li::before{
				content: '>';
			}
			.bread_pos{
				margin-top: 10em;width: 250px;
			}

			/*右邊框顏色*/
			.right_bgcolor{
				background-color: #c1e3f4;
			} 

			/*右邊新聞列*/
			.li_right{
				font-weight: bold;
				font-size: medium;
				font-family:Microsoft JhengHei;
			}

			/*右邊標題，左邊標題,*/
			.title_right,
			.title_left {
				font-weight: bold;
				font-family:Microsoft JhengHei;
			}

			/*左邊內文*/
			.li_left {
				font-family:Microsoft JhengHei;
			}
			footer {
		   		margin-top: 5em;
		   		font-weight: 700;
		        background-color: white;
		        position:absolute;
		   		width:100%;
		   		padding: 25px;
    		}