<!DOCTYPE html>
<html lang="">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>For House</title>
  <link rel="shortcut icon" href="images/houselogo1.png" />
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="css/main.css">
  <script src="https://code.jquery.com/jquery.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="js/main.js"></script>
</head>
<body>
  <div class="container-fluid backgroundpng">
    <img class="row" src="images/fixed_bg.png">
</div>
<div class="main">
	<nav class="navbar navbar-fixed-top">
        <div class="container">
            <div class="navbar-header col-xs-12 col-sm-2">
                <a class="navbar-brand " href="#"><img class="navshadow" src="images/For House logo.png" width="120px"></a>
            </div>
            <div class="col-xs-12 col-sm-8 ">
                <ul class="nav navbar-nav activebar">
                    <li><a href="#" data-toggle="tooltipNews" data-placement="bottom" >最新消息</a></li>
                    <li><a href="#">常見問題</a></li>
                    <li><a href="#">看房去</a></li>
                    <li><a href="#">找房仲</a></li>
                    <li><a href="#">安家商城</a></li>
                    <li><a href="#">加入我們</a></li>
                </ul>
            </div>
            <div class="col-xs-12 col-sm-2">
                <ul class="nav navbar-nav logina">
                    <li><a href="#"><span class="glyphicon glyphicon-user"></span> 註冊</a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> 登入</a></li>
                </ul>
            </div>
        </div>
    </nav>
</div>





<footer class="container-fluid">
    <div class="container text-center">
        <div class="col-xs-12 col-sm-2">
            <a href="#">HOME</a>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="#">OUR TEAM</a>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="#">COMMUNITIES</a>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="#">COMMUNITIES</a>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="#">COMMUNITIES</a>
        </div>
        <div class="col-xs-12 col-sm-2">
            <a href="#">CONTACT US</a>
        </div></div>
        <div class="copyri text-center">
            <p><small>Copyright © 2017 For House</small></p>
        </div>
    </footer>
</body>
</html>